

#contact_modal {
    display: none;
}


.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.photograph-header article  {
  margin: 30px;
}
.photograph-header article h2 {
    color: #D3573C;
    font-weight: lighter;
    font-size: 3.2rem;
    margin: 0;
    position: relative;
    right: 2px;
   
}
.photograph-header article h3 {
    margin: 0;
    color: #901c1cbd;
    font-size: 28px;
    font-weight: lighter;
    
}
.photograph-header article p{
    margin: 1px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.481);
    font-weight: lighter;
    margin-top: 24px;
}
.photograph-header article img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 20px 5px rgb(218 218 218);
}
.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 44%;
}
.medias{
    margin-bottom: 7rem;
    display: flex;
    gap: 92px;
        margin-top: 100px;
        width: 100%;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: center;

}
.medias img{
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}


.medias video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
}
.medias h3 {
    font-size: 20px;
    color :#901C1C
}
.medias div {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    right: 2.2rem;
    width: 23rem;
    height: 2.5rem;
    background-color: #da8774e3;
    padding: 10px;
    border: #da8774 solid;
    border-radius: 5px;
  }
  .medias div span {
   font-size: 25px;
   font-weight: bold;
   color: black;
  }
.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
    position: fixed;
    top: 3%;
    left: 32%;
}
.blur{
    opacity: 0.7;
    
}

.modal header {
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.modal header img {
    cursor: pointer;
    width: 30px;
}

.modal header h2 {
    font-size: 38px;
    font-weight: normal;
    text-align: start;
    position: relative;
    bottom: 38px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}
#textarea {
    width: 100%;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    color: #312E2E;
    outline: none;
}
.modal_button{
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

form label {
    color: #312E2E;
    font-size: 26px;
    padding-top: 5px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 17px;
    color: #312E2E;
}
@media screen and (max-height :600px)  {
.modal{
    height: 500px;
    overflow-y: scroll;
   
}
}
@media screen and (max-width :1180px)  {
    .photograph-header{
        background-color: #FAFAFA;
        margin: 0 100px;
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
    }
    .photograph-header article img {
        width: 350px;
        height: 350px;
        
    }
    .photograph-header article {
        margin: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .contact_button{
        
        position: initial;
        margin: 30px;
        
    }
    .modal {
        border-radius: 5px;
        background-color: #DB8876;
        width: 51%;
        /* height: 50%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 35px;
        margin: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    form input{
        font-size: 28px;
    }
  }