@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
    font-weight: lighter;
}
h3 {
    margin: 0;
    color: #901c1cbd;
    font-size: 14px;
    font-weight: lighter;
}
p {
    margin: 3px;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.821);
    font-weight: lighter;
}
span {
    color: #0000007d;
    font-size: 10px;
}
.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
    width: 100%;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    margin: 4px;
    font-weight: lighter;
    font-size: 32px;
    margin-top: 20px;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 0px 20px 5px rgb(218 218 218);
}

.photographer_section article  a {
    cursor: pointer;
    width: 271px;
    height: 310px;
    position: absolute;
}
@media screen and (max-width :1000px)  {
    .photographer_section {
       
        grid-template-columns: 1fr 1fr;
        
    }
    .photographer_section article a {
        
        width: 325px;
        height: 452px;
        
    }
    .photographer_section article img {
        height: 350px;
        width: 350px;
    }
  }
